* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --fuente1: rgb(204, 173, 105);
  --fuente2: #ffdd80;
  --morado: #7500e8;
}

body {
  overflow-x: hidden;
}

h1 {
  font-size: 4.5em;
}
/* ENCABEZADO */
/*///////////////////////////////////////////////////////*/

header {
  display: flex;
  height: auto;
  width: 100%;
  background: rgb(0, 0, 0);
  border-bottom: 5px solid orange;
}

.logo-container {
  height: 100%;
  width: 20%;
  margin: 8px 0px 0px;
  display: flex;
  position: relative;
}

.logo-container a {
  margin: auto;
}

.logo-container a > img {
  width: 60px;
  height: 60px;
}

/* BARRA DE NAVEGACION */

.burger-container {
  display: none;
}

.nav-container {
  flex-grow: 3;
  justify-content: flex-end;
  padding-right: 30px;
}

.ul-container {
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.li-container {
  text-transform: uppercase;
}

.li-container > a {
  color: #eee;
  text-decoration: none;
  padding: 12px 16px;
  font-weight: 600;
  transition: border-bottom 0.5s;
}

.li-container > a:hover {
  cursor: pointer;
  color: #888;
  border-bottom: 2px solid;
}

.li-container > a:active {
  color: #cdaa2a;
}

/* REDES SOCIALES */
/*/////////////////////////////////////////////*/

.redes-wrapper {
  width: 60px;
  min-height: 2000px;
  position: absolute;
}

.redes-container {
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 65px;
  height: 200px;
  background: #000;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-left: 3px solid orange;
  z-index: 10000;
}

.redes-container > p {
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-size: 0.8em;
  color: #fff;
  padding: 10px 5px 5px 5px;
}

.redes-container > .logo {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

.redes-container .logo > a {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fab::before {
  display: inline-block;
  font-size: 30px;
  color: #c1aad8;
}

.logo a:hover {
  background: #ccc;
}

/*MAIN Y SECCION PRINCIPAL DE LA PAG*/
/*///////////////////////////////////////////////////////*/

.proyectos {
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.proyectos {
  padding: 60px 100px 40px;
  min-height: 100vh;
}

/* SECCION 1*/
/*///////////////////////////////////////////////////////*/

.pro1 {
  background-image: url("../../imagenes/background2.JPG");
  background-size: cover;
  box-shadow: inset 0px 0px 1000px #000;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 100%;
  border-bottom: 5px solid orange;
}

/*NOMBRE Y PERFIL*/

.presentacion {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  color: #f0f0f0;
  padding: 100px 50px;
  border-radius: 50%;
  background: rgba(5, 5, 5, 0.85);
  transform: scale(0.85);
}

.presentacion > .photo-container {
  width: 230px;
  height: 230px;
  margin: 0px auto 30px;
}

.photo-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 4px solid rgb(223, 207, 207);
  filter: saturate(1.3);
}

.presentacion h2 {
  font-size: 2em;
  color: orange;
  font-weight: 500;
}

.presentacion p {
  font-size: 1.2em;
  font-weight: 100;
}

.presentacion > a.btn {
  display: inline-block;
  height: 50px;
  padding: 0px 20px;
  margin: 20px auto;
  color: #eee;
  background: var(--morado);
  border-radius: 30px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: bold;
}

.btn > span {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.btn:hover {
  cursor: pointer;
}

/*DESCRIPCION*/

.aboutMe {
  background: linear-gradient(to right, #111, #333);
}

.desc {
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  width: 50vw;
  min-height: 40vh;
  align-items: center;
  border: 2px solid #000;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 40px 40px 5px #000;
  margin: 60px 0px;
  background-color: var(--morado);
  color: #fff;
}

.desc h1 {
  flex-basis: 20vw;
  flex-grow: 1;
  margin: 0;
  padding: 10px;
  text-align: center;
  text-decoration: underline var(--fuente1);
  font-size: 2.8em;
}

.desc p {
  flex-basis: 20vw;
  flex-grow: 2.5;
  font-size: 1.1em;
  padding: 30px;
  line-height: 1.6em;
  text-align: left;
}

.desc p > span {
  color: #ffdd80;
  font-weight: 600;
}

/*SECCION 2*/
/*///////////////////////////////////////////////////////*/

.pro2 {
  color: #fff;
  background: linear-gradient(to right, #111, #333);
  display: flex;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 5rem;
}

.pro2 > h1 {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  font-size: 3em;
  text-align: center;
}

/*CONTENEDOR DE LAS IMAGENES*/

.tool-container {
  display: flex;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; /*SE APLICA AL CONTENEDOR SIEMPRE*/
  padding: 0px 12vw;
}

.tool-container > .images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 250px;
  min-height: 300px;
  margin: 20px 35px;
  background: #f0f0f090;
  border-radius: 10%;
  transition: transform 0.5s;
  transition-timing-function: ease;
}

.tool-container > .images > p {
  color: #fff;
  font-size: 1.15em;
}

.tool-container > .images:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.images img {
  width: 70%;
  height: 70%;
  /* transform: scale(0.8); */
  align-self: center;
  margin: auto;
}

.images > h3 {
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  color: #f5d97c;
}

.images > p {
  display: inline-block;
  width: 100%;
  font-size: 0.9em;
  text-align: center;
  padding: 10px;
  color: #444;
  margin-bottom: 10px;
}

/*SECCION 3 -- DIAPOSITIVAS DE PROYECTOS*/

.slideshow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px;
  position: relative;
  min-height: 100vh;
  background: #000;
  border-top: 5px solid orange;
}

.slideshow > h1 {
  margin: 30px 0px 60px;
  font-size: 3em;
  text-align: center;
  color: #fff;
}

.slideshow > .slide-wrap {
  position: relative;
  display: flex;
  min-height: 400px;
  max-width: 1200px;
  max-height: 700px;
  overflow: hidden;
}

.slide {
  text-align: center;
  border-top: 6px solid rgb(197, 51, 75);
  width: auto;
  height: auto;
  overflow: hidden;
}

.slide img {
  display: block;
  min-width: 80%;
  min-height: 80%;
  max-width: 100%;
  max-height: 100%;
  animation: slideshow 1800ms ease-out forwards;
  animation-delay: 100ms;
}

.slide .pag-proyecto {
  position: absolute;
  color: #fff;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  z-index: 1500;
}

.moveProject {
  position: absolute;
  border: none;
  background: none;
  font-size: 6em;
  z-index: 1000;
  padding: 0px 20px;
  color: #eee;
  background: rgba(172, 172, 172, 0.6);
  transition: color 0.6s, background 0.6s;
  top: 30%;
}

.moveProject:hover {
  cursor: pointer;
  color: #000;
  background: #fff;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

/*FORMULARIOS*/
/*///////////////////////////////////////////////////////*/

form {
  padding: 100px 0px !important;
  min-height: 100vh;
  border-top: 5px solid orange;
  /* background: var(--morado); */
  background: linear-gradient(to bottom, var(--morado), #b224ef);
  /* background: linear-gradient(-225deg, #ac32e4 0%, #7918f2 48%, #4801ff 100%); */
}

form .formulario {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 550px;
  margin: auto;
  padding: 40px 80px;
  background: black;
  border: 2px solid #fff;
  /* border-radius: 40px; */
  box-shadow: 20px 20px 0px #333;
}

.formulario h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: white;
}

.formulario input,
.formulario textarea {
  width: 100%;
  display: block;
  margin: 10px 0px;
  padding-left: 10px;
  font-size: 1em;
  outline: none;
  border: none;
  border-bottom: 4px solid #cdaa2a;
  border-left: 4px solid #cdaa2a;
}

.formulario input {
  height: 40px;
}

.formulario textarea {
  max-width: 100%;
  height: 300px;
  padding-top: 10px;
}

.formulario input::placeholder,
.formulario textarea::placeholder {
  font-size: 1em;
}

.formulario .sendForm {
  display: inline-block;
  width: 100%;
  height: 60px;
  margin-top: 20px;
  font-size: 1.4em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: darkslateblue;
  background: white;
  border: none;
  transition: color 0.6s;
}

.sendForm:hover {
  color: #eee;
  background: linear-gradient(to left, #a176a5, #7500e8);
  cursor: pointer;
}

.formulario h2 {
  opacity: 1;
}

/* PIE DE PAGINA */
/*//////////////////////////////////////////////////////////////////////*/

footer {
  display: flex;
  background: #000;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-top: 5px solid orange;
}

footer div > p {
  color: #eee;
  text-decoration: none;
  padding: 14px 8px;
  font-weight: 600;
}

/*ANIMACIONES*/
/*/////////////////////////////////////////////////////////////////*/

/*seccion 1*/
@keyframes seccion1 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.pro1 {
  animation-name: seccion1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

/*formulario*/
@keyframes anuncio {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.formulario h2 {
  animation-name: anuncio;
  animation-duration: 0.5s;
  animation-play-state: inherit;
}

@keyframes slideshow {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(40px) scale(1.3);
    opacity: 0.65;
  }
}

/*MEDIA QUERIES: DISEÑO RESPONSIVE*/
/*///////////////////////////////////////////////////////////////*/

@media screen and (max-width: 1100px) {
  .aboutMe {
    padding: 0;
  }

  .desc {
    flex-flow: column wrap;
    justify-content: center;
    width: 68vw;
  }
  .desc h1,
  .desc p {
    flex-basis: unset;
    text-align: center;
    padding: 30px;
  }

  .slideshow {
    padding: 20px 6vw;
  }
}

@media screen and (max-width: 1010px) {
  .presentacion {
    border-radius: 0;
    width: 100%;
  }
}

@media screen and (max-width: 730px) {
  header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
  }

  .logo-container {
    height: 60%;
    width: 100%;
  }

  .burger-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    padding: 8px 8px;
    margin: 15px auto;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
  }

  .burger-container img {
    display: inline-block;
    width: 40px;
    margin: 0px 10px;
    filter: invert(100);
  }

  .nav-container {
    justify-content: center;
    height: 60%;
    width: 100%;
    display: none;
    padding-right: 0;
  }

  .nav-container .ul-container {
    display: flex;
    text-align: center;
    flex-direction: column;
  }

  .li-container {
    padding: 0;
    margin: 20px 0px;
  }

  @keyframes listado {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .li-container:first-child {
    animation-name: listado;
    animation-duration: 0.8s;
  }

  .li-container:nth-child(2) {
    animation-name: listado;
    animation-duration: 1.5s;
  }

  .li-container:last-child {
    animation-name: listado;
    animation-duration: 2.2s;
  }

  /*SECCIONES*/

  .pro1 {
    padding: 80px 0px;
    width: 100%;
  }

  .desc {
    width: 85vw;
    box-shadow: 0px 20px 20px #000;
  }

  .pro2 {
    padding: 80px 6vw 50px;
  }

  .tool-container {
    padding: 0;
  }

  /*FORMULARIO*/

  form .formulario {
    display: block;
    width: 100%;
    padding: 30px 25px;
    text-align: center;
    box-shadow: none;
  }

  /* FOOTER */

  footer {
    margin: 0;
  }
}

.nav-container {
  display: block;
}
