main {
  background: linear-gradient(to right, #111, #333);
  color: #fff;
  text-align: center;
}

h1 {
  font-size: 4em;
  padding: 50px 0px 20px;
}

.projects-container,
.project-wrap {
  display: flex;
  flex-flow: column wrap !important;
  align-items: center;
  justify-content: center;
}

.project-wrap {
  width: 70vw;
  height: 90vh;
  padding: 30px;
  margin: 30px auto;
  background: #333;
  border-bottom: 10px solid rgb(180, 41, 41);
}

.project-wrap h2 {
  font-size: 40px;
  margin: 15px;
}

.projects {
  width: 60vw;
  height: 60vh;
  outline: none;
}

@media screen and (max-width: 720px) {
  .project-wrap {
    width: 100vw;
    height: 80vh;
    padding: 0;
  }

  .project-wrap h2 {
    font-size: 25px;
  }

  .projects {
    width: 100vw;
  }
}
